/* ---------------------------------
main
--------------------------------- */
.l-main {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  // フッター下部固定
  flex: 1;
  // flex-grow: 1;
  &__bg {
    background: #f5f5f5;
  }
}
